# Секреты (никогда не выкладывать!)
config.py

# Мусор Python
__pycache__/
*.pyc

# Папки с данными (тяжелые или временные)
input_pdf/
processed_pdf/
temp_images/
SORTED/

# Виртуальное окружение (если есть)
venv/
.env

# Видео файлы (результаты)
*.mp4